Repository kSideProject/kpring, pull requests merged in 2024-06, with the labels that each got.

#137 [CHAT] 사이드바 UI 수정 및 채팅방 컴포넌트 생성
  front/src/components/Chat/ChatRoomSideBar.tsx
  front/src/components/Layout/DropDown.tsx
  front/src/components/Layout/FriendsRightSideBar.tsx
  front/src/components/Layout/Header.tsx
  front/src/components/Layout/MemberList.tsx
  front/src/components/Layout/MemberListItem.tsx
  front/src/components/Layout/MessageRightSideBar.tsx
  front/src/store/useChatRoomStore.ts
  front/src/types/layout.ts
  front/src/utils/fakeData.ts
  front/tailwind.config.js
Labels: UI/UX

#142 [Feat/map] 코드분리와 캐릭터가 접근할 수 있는 부분 설정
  front/public/assets/firstMap.json
  front/public/assets/hills_collider.png
  front/src/App.tsx
  front/src/components/Layout/Header.tsx
  front/src/components/Layout/LeftSideBar.tsx
  front/src/components/Map/EventBus.ts
  front/src/components/Map/ServerMap.tsx
  front/src/components/Map/ServerMap/Character.ts
  front/src/components/Map/ServerMap/Debug.ts
  front/src/components/Map/ServerMap/Layers.ts
  front/src/components/Map/ServerMap/MainMap.ts
  front/src/components/Map/ServerMap/Preloader.ts
  front/src/components/Map/main.tsx
  front/src/components/Phaser/serverScene/MainMap.ts
  front/src/types/server.ts
  front/tsconfig.json
  server/src/main/resources/static/openapi3.yaml
  user/src/main/resources/static/openapi3.yaml
Labels: UI/UX

#145 [Chat] 서버 전체 채팅 조회 API 구현 GET api/v1/chat
  chat/src/main/kotlin/kpring/chat/chat/api/v1/ChatController.kt
  chat/src/main/kotlin/kpring/chat/chat/model/RoomChat.kt
  chat/src/main/kotlin/kpring/chat/chat/model/ServerChat.kt
  chat/src/main/kotlin/kpring/chat/chat/repository/RoomChatRepository.kt
  chat/src/main/kotlin/kpring/chat/chat/repository/ServerChatRepository.kt
  chat/src/main/kotlin/kpring/chat/chat/service/ChatService.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/main/kotlin/kpring/chat/global/config/AuthConfig.kt
  chat/src/main/kotlin/kpring/chat/global/config/ClientConfig.kt
  chat/src/main/kotlin/kpring/chat/global/config/ServerConfig.kt
  chat/src/main/kotlin/kpring/chat/global/exception/ErrorCode.kt
  chat/src/main/resources/application.yml
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chat/api/v1/ChatControllerTest.kt
  chat/src/test/kotlin/kpring/chat/example/SampleTest.kt
  core/src/main/kotlin/kpring/core/chat/chat/dto/request/ChatType.kt
  core/src/main/kotlin/kpring/core/chat/chat/dto/response/ChatResponse.kt
  core/src/main/kotlin/kpring/core/server/client/ServerClient.kt
  core/src/main/kotlin/kpring/core/server/config/ServerClientConfig.kt
Labels: enhancement, API, Chat

#143 Feat/auth 로그인 페이지 실시간 유효성1단계와 회원가입페이지 API 연동
  auth/src/main/resources/static/openapi3.yaml
  front/package.json
  front/src/components/Auth/JoinBox.tsx
  front/src/components/Auth/LoginBox.tsx
  front/src/hooks/LoginValidation.ts
  front/src/types/login.ts
  front/yarn.lock
Labels: UI/UX

#146 Feat/auth 회원가입 페이지의 Mui Alert와 이메일 중복 에러메세지 구현
  front/src/components/Auth/JoinBox.tsx
  front/src/types/join.ts
Labels: UI/UX

#154 [Infra] 로그인 요청 버그 수정
  core/src/main/kotlin/kpring/core/chat/chat/dto/request/ChatType.kt
  infra/charts/auth/templates/service.yaml
  infra/charts/server/templates/service.yaml
  infra/charts/server/values.yaml
  infra/charts/user/templates/service.yaml
  infra/charts/user/values.yaml
  user/src/test/kotlin/kpring/user/controller/LoginControllerTest.kt
Labels: bug

#157 [Infra] image registry 변경
  auth/build.gradle.kts
  infra/charts/auth/values.yaml
  infra/charts/server/values.yaml
  infra/charts/user/values.yaml
  server/build.gradle.kts
  user/build.gradle.kts
Labels: environment

#158 [Feat/server] 모달 컴포넌트 공통화
  front/.gitignore
  front/src/components/Layout/Header.tsx
  front/src/components/Layout/LeftSideBar.tsx
  front/src/components/Layout/MemberList.tsx
  front/src/components/Layout/ServerInfoSidebar.tsx
  front/src/components/Modal/ModalComponent.tsx
  front/src/components/Profile/MemberProfile.tsx
  front/src/components/Profile/Profile.tsx
  front/src/components/Server/CreateServerForm.tsx
  front/src/hooks/Modal.ts
  front/src/types/layout.ts
  front/src/types/modal.ts
  infra/charts/ingress-nginx-4.10.1.tgz
Labels: UI/UX

#161 [Feat/Webrtc] 화면 공유 WebRtc 컴포넌트 UI 제작
  front/src/components/Layout/Header.tsx
  front/src/components/Map/ServerMap.tsx
  front/src/components/VideoCall/VideoCallBoxList.tsx
  front/src/components/VideoCall/VideoCallBoxListItem.tsx
  front/tailwind.config.js
Labels: UI/UX

#162 [Feat/create-server] 왼쪽 사이드바 수정 및 캐릭터 말풍선 추가
  front/src/components/Auth/LoginBox.tsx
  front/src/components/Home/FavoriteStar.tsx
  front/src/components/Home/ServerCard.tsx
  front/src/components/Home/ServerCardList.tsx
  front/src/components/Layout/Header.tsx
  front/src/components/Layout/Layout.tsx
  front/src/components/Layout/LeftSideBar.tsx
  front/src/components/Layout/ServerInfoSidebar.tsx
  front/src/components/Map/ServerMap.tsx
  front/src/components/Map/ServerMap/Debug.ts
  front/src/components/Map/ServerMap/Layers.ts
  front/src/components/Map/ServerMap/MainMap.ts
  front/src/components/Modal/ModalComponent.tsx
  front/src/components/Server/CreateServerForm.tsx
  front/src/hooks/FavoriteServer.ts
  front/src/store/useFavoriteStore.ts
  front/src/style/modal.ts
  front/src/types/layout.ts
  front/src/types/map.ts
  front/src/types/server.ts
Labels: UI/UX

#160 [Server] 서버 버그 수정
  server/src/main/kotlin/kpring/server/adapter/output/mongo/entity/ServerProfileEntity.kt
  server/src/main/resources/application.yml
Labels: bug, Server

#156 [User] 사용자 프로필 수정 API 구현
  user/src/main/java/kpring/user/dto/request/UpdateUserProfileRequest.java
  user/src/main/java/kpring/user/dto/response/UpdateUserProfileResponse.java
  user/src/main/kotlin/kpring/user/controller/UserController.kt
  user/src/main/kotlin/kpring/user/entity/User.kt
  user/src/main/kotlin/kpring/user/exception/UserErrorCode.kt
  user/src/main/kotlin/kpring/user/global/SupportedMediaType.kt
  user/src/main/kotlin/kpring/user/service/UploadProfileImageService.kt
  user/src/main/kotlin/kpring/user/service/UserService.kt
  user/src/main/kotlin/kpring/user/service/UserServiceImpl.kt
  user/src/main/resources/application.yaml
  user/src/test/kotlin/kpring/user/controller/UserControllerTest.kt
  user/src/test/kotlin/kpring/user/service/UserServiceImplTest.kt
  user/src/test/resources/images/profileImg/testImg.jpg
Labels: enhancement, API, User

#167 [Server] 카테고리 조회 API 구현
  core/src/main/kotlin/kpring/core/server/dto/CategoryInfo.kt
  server/src/main/kotlin/kpring/server/adapter/input/rest/CategoryController.kt
  server/src/main/kotlin/kpring/server/application/port/input/GetCategoryUseCase.kt
  server/src/main/kotlin/kpring/server/application/service/CategoryService.kt
  server/src/main/kotlin/kpring/server/domain/Category.kt
  server/src/test/kotlin/kpring/server/adapter/input/rest/CategoryControllerTest.kt
  server/src/test/kotlin/kpring/server/adapter/input/rest/RestApiServerControllerTest.kt
  server/src/test/kotlin/kpring/server/application/service/CategoryServiceTest.kt
  test/src/main/kotlin/kpring/test/web/MvcWebTestClientDescribeSpec.kt
Labels: enhancement, Server

#166 [Chat] 채팅 수정 API 구현
  chat/src/main/kotlin/kpring/chat/ChatApplication.kt
  chat/src/main/kotlin/kpring/chat/chat/api/v1/ChatController.kt
  chat/src/main/kotlin/kpring/chat/chat/model/Chat.kt
  chat/src/main/kotlin/kpring/chat/chat/model/RoomChat.kt
  chat/src/main/kotlin/kpring/chat/chat/repository/RoomChatRepository.kt
  chat/src/main/kotlin/kpring/chat/chat/repository/ServerChatRepository.kt
  chat/src/main/kotlin/kpring/chat/chat/service/ChatService.kt
  chat/src/main/kotlin/kpring/chat/global/exception/ErrorCode.kt
  chat/src/main/resources/application.yml
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chat/api/v1/ChatControllerTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/api/v1/ChatRoomControllerTest.kt
  chat/src/test/kotlin/kpring/chat/example/SampleTest.kt
  chat/src/test/kotlin/kpring/chat/global/config/TestMongoConfig.kt
  core/src/main/kotlin/kpring/core/chat/chat/dto/request/UpdateChatRequest.kt
Labels: enhancement, API, Chat

#168 [User] 친구신청 API 구현
  user/src/main/java/kpring/user/service/FriendService.java
  user/src/main/kotlin/kpring/user/controller/FriendController.kt
  user/src/main/kotlin/kpring/user/controller/UserController.kt
  user/src/main/kotlin/kpring/user/entity/Friend.kt
  user/src/main/kotlin/kpring/user/entity/FriendRequestStatus.kt
  user/src/main/kotlin/kpring/user/entity/User.kt
  user/src/main/kotlin/kpring/user/exception/UserErrorCode.kt
  user/src/main/kotlin/kpring/user/global/AuthValidator.kt
  user/src/main/kotlin/kpring/user/repository/FriendRepository.kt
  user/src/main/kotlin/kpring/user/service/FriendService.kt
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
  user/src/main/kotlin/kpring/user/service/UserServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/FriendControllerTest.kt
  user/src/test/kotlin/kpring/user/controller/UserControllerTest.kt
  user/src/test/kotlin/kpring/user/global/CommonTest.kt
  user/src/test/kotlin/kpring/user/service/FriendServiceImplTest.kt
  user/src/test/kotlin/kpring/user/service/UserServiceImplTest.kt
Labels: enhancement, API, Test, User

#169 [Server] 서버 생성 : 테마, 카테고리 입력 확장
  core/src/main/kotlin/kpring/core/server/dto/ServerThemeInfo.kt
  core/src/main/kotlin/kpring/core/server/dto/request/CreateServerRequest.kt
  core/src/main/kotlin/kpring/core/server/dto/response/CreateServerResponse.kt
  server/src/main/kotlin/kpring/server/adapter/input/rest/RestApiServerController.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/GetServerPortMongoImpl.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/GetServerProfileMongoImpl.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/SaveServerPortMongoImpl.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/entity/ServerEntity.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/entity/ServerProfileEntity.kt
  server/src/main/kotlin/kpring/server/application/port/input/CreateServerUseCase.kt
  server/src/main/kotlin/kpring/server/application/port/output/SaveServerPort.kt
  server/src/main/kotlin/kpring/server/application/service/ServerService.kt
  server/src/main/kotlin/kpring/server/domain/Server.kt
  server/src/main/kotlin/kpring/server/domain/ServerProfile.kt
  server/src/main/kotlin/kpring/server/domain/Theme.kt
  server/src/main/kotlin/kpring/server/error/ServerErrorCode.kt
  server/src/main/kotlin/kpring/server/util/DtoMapper.kt
  server/src/test/kotlin/kpring/server/adapter/input/rest/RestApiServerControllerTest.kt
  server/src/test/kotlin/kpring/server/application/port/input/AddUserAtServerUseCaseTest.kt
  server/src/test/kotlin/kpring/server/application/port/input/DeleteServerUseCaseTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/GetServerPortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/GetServerProfilePortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/SaveServerPortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/UpdateServerPortTest.kt
  server/src/test/kotlin/kpring/server/domain/ServerProfileTest.kt
  server/src/test/kotlin/kpring/server/domain/ServerTest.kt
  test/src/main/kotlin/kpring/test/restdoc/dsl/RestDocBodyBuilder.kt
Labels: enhancement, Server

#171 [Chat] 채팅 삭제 API 구현 : DELETE /api/v1/chat
  chat/src/main/kotlin/kpring/chat/chat/api/v1/ChatController.kt
  chat/src/main/kotlin/kpring/chat/chat/service/ChatService.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/ChatRoom.kt
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chat/api/v1/ChatControllerTest.kt
  core/src/main/kotlin/kpring/core/chat/chatroom/dto/request/CreateChatRoomRequest.kt
Labels: enhancement, API, Chat

#176 [Chat] 코드로 채팅방에 참여하기 API 구현
  chat/src/main/kotlin/kpring/chat/chat/model/Chat.kt
  chat/src/main/kotlin/kpring/chat/chatroom/api/v1/ChatRoomController.kt
  chat/src/main/kotlin/kpring/chat/chatroom/dto/InvitationInfo.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/ChatRoom.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/InvitationService.kt
  chat/src/main/kotlin/kpring/chat/global/exception/ErrorCode.kt
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/ChatRoomServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/api/v1/ChatRoomControllerTest.kt
  chat/src/test/kotlin/kpring/chat/example/SampleTest.kt
Labels: enhancement, API, Chat

#179 [infra] 오라클 클라우드 k8s 배포 설정
  auth/build.gradle.kts
  infra/charts/swagger/.helmignore
  infra/charts/swagger/Chart.yaml
  infra/charts/swagger/templates/_helpers.tpl
  infra/charts/swagger/templates/deployment.yaml
  infra/charts/swagger/templates/service.yaml
  infra/charts/swagger/templates/tests/test-connection.yaml
  infra/charts/swagger/values.yaml
  infra/compose.yml
  server/build.gradle.kts
  user/build.gradle.kts
Labels: environment

#181 [infra] swagger ui cluster domain 설정
  infra/compose.yml
Labels: bug

#174 [User] 친구 신청 조회 API 구현
  user/src/main/kotlin/kpring/user/controller/FriendController.kt
  user/src/main/kotlin/kpring/user/dto/response/AddFriendResponse.kt
  user/src/main/kotlin/kpring/user/dto/response/GetFriendRequestResponse.kt
  user/src/main/kotlin/kpring/user/dto/response/GetFriendRequestsResponse.kt
  user/src/main/kotlin/kpring/user/entity/Friend.kt
  user/src/main/kotlin/kpring/user/repository/FriendRepository.kt
  user/src/main/kotlin/kpring/user/service/FriendService.kt
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/FriendControllerTest.kt
  user/src/test/kotlin/kpring/user/global/CommonTest.kt
  user/src/test/kotlin/kpring/user/service/FriendServiceImplTest.kt
Labels: enhancement, API, Test, User

#182 [infra] domain 적용 및 ci actions 추가
  .github/workflows/ci.yml
  auth/build.gradle.kts
  build.gradle.kts
  infra/compose.yml
  server/build.gradle.kts
  server/src/main/kotlin/kpring/server/util/DtoMapper.kt
  user/build.gradle.kts
Labels: environment

#177 [Feat/server] 채팅 Text Input 띄어쓰기 이슈 해결과 Global Style 파일 생성
  front/src/components/Chat/ChatInputField.tsx
  front/src/components/Chat/ChatRoomSideBar.tsx
  front/src/components/Layout/Header.tsx
  front/src/components/Map/ServerMap.tsx
  front/src/components/Map/ServerMap/MainMap.ts
  front/src/store/useChatInputStore.ts
  front/src/style/globalStyles.ts
  front/src/theme/themeConfig.ts
Labels: UI/UX

#187 [User] 친구신청 조회 API 코드 수정
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
Labels: User

#186 [User] 친구 신청 수락 API 구현
  user/src/main/kotlin/kpring/user/controller/FriendController.kt
  user/src/main/kotlin/kpring/user/entity/Friend.kt
  user/src/main/kotlin/kpring/user/exception/UserErrorCode.kt
  user/src/main/kotlin/kpring/user/repository/FriendRepository.kt
  user/src/main/kotlin/kpring/user/service/FriendService.kt
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/FriendControllerTest.kt
  user/src/test/kotlin/kpring/user/service/FriendServiceImplTest.kt
Labels: enhancement, API, Test, User

#192 Feat/auth 로그인이 되는 것과 회원가입 API 주소 변경
  front/src/components/Auth/JoinBox.tsx
  front/src/components/Auth/LoginBox.tsx
  front/src/store/useLoginStore.ts
Labels: UI/UX

#196 [infra] image registry 변경으로 인한 설정 변경 및 ci/cd 버그 수정
  .github/workflows/ci.yml
  auth/build.gradle.kts
  infra/.helmignore
  infra/Chart.yaml
  infra/charts/auth/.helmignore
  infra/charts/auth/Chart.yaml
  infra/charts/auth/templates/_helpers.tpl
  infra/charts/auth/templates/configmap.yaml
  infra/charts/auth/templates/deployment.yaml
  infra/charts/auth/templates/redis-deployment.yaml
  infra/charts/auth/templates/redis-service.yaml
  infra/charts/auth/templates/service.yaml
  infra/charts/auth/templates/tests/test-connection.yaml
  infra/charts/auth/values.yaml
  infra/charts/gateway/.helmignore
  infra/charts/gateway/Chart.yaml
  infra/charts/gateway/templates/ingress.yaml
  infra/charts/gateway/values.yaml
  infra/charts/ingress-nginx-4.10.1.tgz
  infra/charts/server/.helmignore
  infra/charts/server/Chart.yaml
  infra/charts/server/templates/deployment.yaml
  infra/charts/server/templates/mongo-deployment.yaml
  infra/charts/server/templates/mongo-service.yaml
  infra/charts/server/templates/service.yaml
  infra/charts/server/values.yaml
  infra/charts/user/.helmignore
  infra/charts/user/Chart.yaml
  infra/charts/user/templates/deployment.yaml
  infra/charts/user/templates/mysql-deployment.yaml
  infra/charts/user/templates/mysql-service.yaml
  infra/charts/user/templates/service.yaml
  infra/charts/user/values.yaml
  infra/compose.yml
  infra/readme.md
  infra/templates/_helpers.tpl
  infra/templates/profile-config.yaml
  infra/values.yaml
  server/build.gradle.kts
  user/build.gradle.kts
Labels: bug, environment

#194 [User] 친구삭제 API 구현
  user/src/main/java/kpring/user/dto/response/DeleteFriendResponse.java
  user/src/main/kotlin/kpring/user/dto/response/DeleteFriendResponse.kt
  user/src/main/kotlin/kpring/user/entity/User.kt
  user/src/main/kotlin/kpring/user/exception/UserErrorCode.kt
  user/src/main/kotlin/kpring/user/repository/FriendRepository.kt
  user/src/main/kotlin/kpring/user/service/FriendService.kt
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/FriendControllerTest.kt
  user/src/test/kotlin/kpring/user/service/FriendServiceImplTest.kt
Labels: enhancement, API, Test, User

#201 [Feat/server] 서버 생성 및 조회 기능
  front/package.json
  front/src/components/Chat/ChatRoomSideBar.tsx
  front/src/components/Home/ServerCard.tsx
  front/src/components/Home/ServerCardList.tsx
  front/src/components/Layout/FriendsRightSideBar.tsx
  front/src/components/Layout/LeftSideBar.tsx
  front/src/components/Layout/MessageRightSideBar.tsx
  front/src/components/Layout/ServerInfoSidebar.tsx
  front/src/components/Map/ServerMap/MainMap.ts
  front/src/components/Modal/ModalComponent.tsx
  front/src/components/Server/CreateServerForm.tsx
  front/src/hooks/FetchServer.ts
  front/src/hooks/UpdatedServer.ts
  front/src/index.tsx
  front/src/pages/Home.tsx
  front/src/style/modal.ts
  front/src/types/server.ts
  front/src/utils/fakeData.ts
  front/yarn.lock
Labels: UI/UX

#202 [User] 친구목록 조회 API 구현
  user/src/main/java/kpring/user/dto/response/GetFriendsResponse.java
  user/src/main/kotlin/kpring/user/dto/response/GetFriendResponse.kt
  user/src/main/kotlin/kpring/user/dto/response/GetFriendsResponse.kt
  user/src/main/kotlin/kpring/user/service/FriendService.kt
  user/src/main/kotlin/kpring/user/service/FriendServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/FriendControllerTest.kt
  user/src/test/kotlin/kpring/user/global/CommonTest.kt
  user/src/test/kotlin/kpring/user/service/FriendServiceImplTest.kt
  user/src/test/kotlin/kpring/user/service/UserServiceImplTest.kt
Labels: enhancement, API, Test, User

#199 [server] 서버 조회시 테마, 카테고리 정보 조회
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chat/api/v1/ChatControllerTest.kt
  core/src/main/kotlin/kpring/core/server/dto/ServerInfo.kt
  core/src/main/kotlin/kpring/core/server/dto/ServerSimpleInfo.kt
  core/src/main/kotlin/kpring/core/server/dto/request/CreateServerRequest.kt
  core/src/main/kotlin/kpring/core/server/dto/response/CreateServerResponse.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/SaveServerPortMongoImpl.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/entity/ServerEntity.kt
  server/src/main/kotlin/kpring/server/application/service/ServerService.kt
  server/src/main/kotlin/kpring/server/domain/Server.kt
  server/src/main/kotlin/kpring/server/domain/ServerHost.kt
  server/src/test/kotlin/kpring/server/adapter/input/rest/RestApiServerControllerTest.kt
  server/src/test/kotlin/kpring/server/application/port/input/AddUserAtServerUseCaseTest.kt
  server/src/test/kotlin/kpring/server/application/port/input/DeleteServerUseCaseTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/GetServerPortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/GetServerProfilePortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/SaveServerPortTest.kt
  server/src/test/kotlin/kpring/server/application/port/output/UpdateServerPortTest.kt
  server/src/test/kotlin/kpring/server/domain/ServerProfileTest.kt
  server/src/test/kotlin/kpring/server/domain/ServerTest.kt
  server/src/test/kotlin/kpring/server/util/TestDomainGenerator.kt
Labels: Server

#207 [Server] 버그 픽스 #200
  server/src/main/kotlin/kpring/server/adapter/output/mongo/UpdateServerPortMongoImpl.kt
  server/src/test/kotlin/kpring/server/application/port/output/UpdateServerPortTest.kt
Labels: Server
