Repository kSideProject/kpring, pull requests merged in 2024-11, with the labels that each got.

#280 [User] 프로필조회 시 프로필사진 조회 기능 추가
  user/src/main/java/kpring/user/dto/response/GetUserProfileResponse.java
  user/src/main/kotlin/kpring/user/service/UserServiceImpl.kt
  user/src/test/kotlin/kpring/user/controller/UserControllerTest.kt
Labels: enhancement, API, Test, User

#272 [Chat] Websocket Security 개선
  chat/build.gradle.kts
  chat/src/main/kotlin/kpring/chat/chat/api/v1/WebSocketChatController.kt
  chat/src/main/kotlin/kpring/chat/chat/model/Chat.kt
  chat/src/main/kotlin/kpring/chat/chat/service/ChatService.kt
  chat/src/main/kotlin/kpring/chat/global/config/WebSocketConfig.kt
  chat/src/main/kotlin/kpring/chat/global/exception/ErrorCode.kt
  chat/src/main/kotlin/kpring/chat/global/util/AccessVerifier.kt
  chat/src/main/resources/application.yml
  chat/src/main/resources/static/chat.html
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/example/SampleTest.kt
Labels: enhancement, Chat

#281 [Server] 서버 탈퇴 API 기능 구현
  server/src/main/kotlin/kpring/server/adapter/input/rest/RestApiServerController.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/DeleteServerPortMongoImpl.kt
  server/src/main/kotlin/kpring/server/adapter/output/mongo/repository/ServerProfileRepository.kt
  server/src/main/kotlin/kpring/server/application/port/input/DeleteServerUseCase.kt
  server/src/main/kotlin/kpring/server/application/port/output/DeleteServerPort.kt
  server/src/main/kotlin/kpring/server/application/service/ServerService.kt
  server/src/test/kotlin/kpring/server/adapter/input/rest/RestApiServerControllerTest.kt
Labels: enhancement, API, Test, Server

#283 [Chat] ChatRoomController WebSocket 연결로 전환
  chat/src/main/kotlin/kpring/chat/chat/model/Chat.kt
  chat/src/main/kotlin/kpring/chat/chat/service/ChatService.kt
  chat/src/main/kotlin/kpring/chat/chatroom/api/v1/ChatRoomController.kt
  chat/src/main/kotlin/kpring/chat/chatroom/api/v1/WebSocketChatRoomController.kt
  chat/src/main/kotlin/kpring/chat/chatroom/dto/ChatWrapper.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/EventType.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/main/resources/static/chatSample.html
  chat/src/test/kotlin/kpring/chat/chat/ChatServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/ChatRoomServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/api/v1/ChatRoomControllerTest.kt
  chat/src/test/kotlin/kpring/chat/example/SampleTest.kt
  core/src/main/kotlin/kpring/core/chat/model/MessageType.kt
Labels: enhancement, Chat

#284 [Chat] 채팅방에 Event가 일어났을 때 해당 채팅방을 구독하는 사용자들에게 보내기
  chat/src/main/kotlin/kpring/chat/chat/api/v1/ChatController.kt
  chat/src/main/kotlin/kpring/chat/global/config/WebSocketConfig.kt
Labels: enhancement, Chat

#287 [Chat] 채팅방 방장 권한 구현
  chat/src/main/kotlin/kpring/chat/chat/repository/ChatCustomRepository.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/ChatRoom.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/main/resources/static/chatSample.html
  chat/src/test/kotlin/kpring/chat/chatroom/ChatRoomServiceTest.kt
  core/src/main/kotlin/kpring/core/chat/model/ChatType.kt
Labels: enhancement, Chat

#291 [Chat] 채팅방에서 유저 추방하기
  chat/src/main/kotlin/kpring/chat/chatroom/api/v1/WebSocketChatRoomController.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/EventType.kt
  chat/src/main/kotlin/kpring/chat/chatroom/repository/ChatRoomRepository.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/main/kotlin/kpring/chat/global/exception/ErrorCode.kt
  chat/src/main/kotlin/kpring/chat/global/util/AccessVerifier.kt
  chat/src/main/resources/static/chatSample.html
  chat/src/test/kotlin/kpring/chat/chatroom/ChatRoomServiceTest.kt
  core/src/main/kotlin/kpring/core/chat/chatroom/dto/request/ExpelChatRoomRequest.kt
Labels: enhancement, Chat

#290 [Map] 화면 줌인/줌아웃 기능 및 아바타 애니메이션 추가
  front/public/assets/avatar/jump/costumes/bottom/bottom1-jump.json
  front/public/assets/avatar/jump/costumes/bottom/bottom1-jump.png
  front/public/assets/avatar/jump/costumes/top/top1-jump.json
  front/public/assets/avatar/jump/costumes/top/top1-jump.png
  front/public/assets/avatar/jump/hair/hair1.json
  front/public/assets/avatar/jump/hair/hair1.png
  front/public/assets/avatar/jump/skins/skin1.json
  front/public/assets/avatar/jump/skins/skin1.png
  front/public/assets/avatar/jump/skins/skin2.json
  front/public/assets/avatar/jump/skins/skin2.png
  front/public/assets/avatar/jump/skins/skin3.json
  front/public/assets/avatar/jump/skins/skin3.png
  front/public/assets/avatar/jump/skins/skin4.json
  front/public/assets/avatar/jump/skins/skin4.png
  front/public/assets/avatar/jump/skins/skin5.json
  front/public/assets/avatar/jump/skins/skin5.png
  front/public/assets/avatar/jump/skins/skin6.json
  front/public/assets/avatar/jump/skins/skin6.png
  front/public/assets/avatar/jump/skins/skin7.json
  front/public/assets/avatar/jump/skins/skin7.png
  front/public/assets/avatar/jump/skins/skin8.json
  front/public/assets/avatar/jump/skins/skin8.png
  front/public/assets/map/camping/boat_tilesets.png
  front/public/assets/map/camping/campfire1_tilesets.png
  front/public/assets/map/camping/camping.json
  front/public/assets/map/camping/fishes1_tilesets.png
  front/public/assets/map/camping/fishes_tilesets.png
  front/public/assets/map/camping/fishing_boat_tilesets_A.png
  front/public/assets/map/camping/fishing_boat_tilesets_B.png
  front/public/assets/map/camping/waterfall_tilesets.png
  front/src/components/Phaser/Avatar/avatarAssets.ts
  front/src/components/Phaser/Avatar/controlAvatar.ts
  front/src/components/Phaser/Avatar/createAnimations.ts
  front/src/components/Phaser/MapTheme/BeachMap.ts
  front/src/components/Phaser/MapTheme/CampingMap.ts
  front/src/components/Phaser/Scenes/Avatar.ts
  front/src/components/Phaser/Scenes/CampingPreloader.ts
  front/src/components/Phaser/Scenes/cameraControls.ts
  front/src/components/Phaser/Scenes/jumpAction.ts
Labels: UI/UX

#303 [Chat] 방장 권한 위임 로직 구현
  chat/src/main/kotlin/kpring/chat/chatroom/api/v1/WebSocketChatRoomController.kt
  chat/src/main/kotlin/kpring/chat/chatroom/model/ChatRoom.kt
  chat/src/main/kotlin/kpring/chat/chatroom/service/ChatRoomService.kt
  chat/src/test/kotlin/kpring/chat/chatroom/ChatRoomServiceTest.kt
  chat/src/test/kotlin/kpring/chat/chatroom/api/v1/ChatRoomControllerTest.kt
  core/src/main/kotlin/kpring/core/chat/chat/dto/response/EventType.kt
  core/src/main/kotlin/kpring/core/chat/chatroom/dto/request/TransferChatRoomOwnerRequest.kt
Labels: Chat

#299 [Feat/user] 공통컴포넌트 추가 및 친구추가 기능
  front/package.json
  front/src/App.tsx
  front/src/api/axiosInstance.ts
  front/src/api/requestFriend.ts
  front/src/components/Auth/LoginBox.tsx
  front/src/components/Home/PreviewServerMap.tsx
  front/src/components/Layout/FriendsRightSideBar.tsx
  front/src/components/Layout/Header.tsx
  front/src/components/Layout/Layout.tsx
  front/src/components/Layout/LeftSideBar.tsx
  front/src/components/Layout/MemberList.tsx
  front/src/components/Layout/MemberListItem.tsx
  front/src/components/Layout/MessageRightSideBar.tsx
  front/src/components/Layout/ServerInfoSidebar.tsx
  front/src/components/Layout/components/header/Header.tsx
  front/src/components/Layout/components/leftSidebar/LeftSidebar.tsx
  front/src/components/Layout/components/leftSidebar/components/AddServer.tsx
  front/src/components/Layout/components/leftSidebar/components/CurrentUserAvatar.tsx
  front/src/components/Layout/components/rightSidebar/RightSidebar.tsx
  front/src/components/Layout/components/rightSidebar/api/friends.ts
  front/src/components/Layout/components/rightSidebar/components/FriendsSidebar.tsx
  front/src/components/Layout/components/rightSidebar/components/MessageSidebar.tsx
  front/src/components/Layout/components/rightSidebar/components/friends/FriendsList.tsx
  front/src/components/Layout/components/rightSidebar/components/friends/SearchFriendsSection.tsx
  front/src/components/Layout/components/rightSidebar/components/messages/MessageList.tsx
  front/src/components/Layout/components/rightSidebar/components/messages/MessageTab.tsx
  front/src/components/Layout/components/rightSidebar/components/messages/NewFriendsList.tsx
  front/src/components/Layout/components/rightSidebar/hooks/useFriendsList.tsx
  front/src/components/Layout/components/rightSidebar/hooks/useNewRequestedFriends.tsx
  front/src/components/Layout/components/rightSidebar/types/friends.ts
  front/src/components/Modal/ModalComponent.tsx
  front/src/components/Phaser/ServerMap.tsx
  front/src/components/Profile/Profile.tsx
  front/src/components/Server/ServerMapWithTheme.tsx
  front/src/components/Server/components/CreateServerForm.tsx
  front/src/components/common/button/Button.tsx
  front/src/components/common/input/Checkbox.tsx
  front/src/components/common/input/TextInput.tsx
  front/src/components/common/modal/Modal.tsx
  front/src/components/common/modal/hooks/useModal.ts
  front/src/components/user/api/user.ts
  front/src/components/user/components/UserProfile.tsx
  front/src/components/user/hooks/useProfile.tsx
  front/src/hooks/FetchServer.ts
  front/src/index.css
  front/src/pages/Home.tsx
  front/src/pages/Join.tsx
  front/src/pages/Login.tsx
  front/src/style/globalStyles.ts
  front/tailwind.config.js
  front/yarn.lock
Labels: User, UI/UX

#309 fix: server url을 infra 설정의 helm chart에 매핑된 value로 수정
  chat/src/main/resources/application.yml
Labels: bug

#310 [Infra] dev 브랜치 main으로 병합
  chat/src/main/resources/application.yml
Labels: environment
